/*linear-gradient(349deg, rgb(147, 86, 220) 0%, rgb(147, 86, 220) 14%, rgb(255, 121, 218) 92%);*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0.9;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  0% {
    opacity: 0.9;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*@import "./utils/mixins";
@import "./utils/extensions";

// Vendors*/
* {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Fonts*/
html, body {
  font-family: 'Roboto', sans-serif, 'Shrikhand', cursive;
  min-width: 375px;
  max-width: 1400px;
}

body, html {
  font-family: 'Roboto', "Shrikhand", sans-serif, cursive;
}

.button {
  background: linear-gradient(349deg, #9356dc 0%, #9356dc 14%, #ff79da 92%);
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  border: none;
  width: 225px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 5px 5px lightgrey;
          box-shadow: 1px 5px 5px lightgrey;
  margin: 32px;
  cursor: pointer;
}

.number {
  color: #ffffff;
  background-color: #9356DC;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 400;
  padding-top: 5px;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 13px lightgrey;
          box-shadow: 0 5px 13px lightgrey;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.restaurant-card__image {
  height: 175px;
}

.restaurant-card__image img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.restaurant-card__image .new {
  position: absolute;
  top: 10px;
  right: 10px;
}

.restaurant-card__heading {
  height: 40px;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant-card__heading h2 {
  font-size: 18px;
  font-weight: 800;
  margin: 15px 0 5px 0;
}

.restaurant-card__heading .byline {
  margin: 0;
  font-size: 17px;
  color: #333333;
}

.restaurant-card .like {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.restaurant-card .like .heart {
  position: absolute;
}

/*.restaurant-card__image
    {
        /*right: 30px;
        margin-top: 13px;
    }  */
.like {
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
}

.like:hover .heart {
  opacity: 0;
}

.like:hover .heart--full {
  opacity: 1;
  -webkit-transition: opacity 2.5s;
  transition: opacity 2.5s;
}

.like .heart {
  color: #333333;
}

.like .heart--full {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

/*.heart:hover
{
    background-clip: text;
    -webkit-background-clip: text;
    background: transparent;
    
}
&:active + .heart
{
} */
.new {
  border: none;
  background-color: #99E2D0;
  color: #278870;
  font-size: 14px;
  font-weight: bold;
  width: 90px;
  height: 30px;
  padding: 8px;
  border-radius: 2px;
}

.header__homepage {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.header__homepage .arrow {
  font-size: 20px;
  color: #333333;
}

.border {
  width: 43px;
  height: 4px;
  background-color: #99E2D0;
}

.section {
  height: 100%;
  width: 100%;
  opacity: 0.7;
  background-color: #7e7d7d;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: 3s both 1.5s loader;
          animation: 3s both 1.5s loader;
}

.section__loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__loader-circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

.section__loader-circles:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
}

.section__loader-circles:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.confirm {
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-top: 15px;
}

.header__logo img {
  height: 29px;
}

/*@import "./layout/nav";
@import "./layout/container";*/
.form {
  height: 50px;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 3px 4px lightgrey;
          box-shadow: inset 0 3px 4px lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__marker {
  margin-right: 15px;
  font-size: 17px;
  color: #404040;
}

.form__text {
  border: none;
  padding-top: 3px;
  width: 140px;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
}

.form ::-webkit-input-placeholder {
  color: #4d4d4d;
}

.form :-ms-input-placeholder {
  color: #4d4d4d;
}

.form ::-ms-input-placeholder {
  color: #4d4d4d;
}

.form ::placeholder {
  color: #4d4d4d;
}

.footer {
  background-color: #333333;
  height: 200px;
  padding: 25px;
}

.footer__heading {
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Shrikhand';
  margin-bottom: 20px;
}

.footer__menu {
  padding: 0;
  list-style: none;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 11px;
}

.footer__menu li {
  margin-bottom: 10px;
}

.footer__menu li .proposal {
  margin-right: 10px;
  font-size: 14px;
}

.footer__menu li .partner {
  font-size: 12px;
  margin-right: 8px;
}

.omf {
  font-family: 'Shrikhand';
  background-color: linear-gradient(to bottom right, #FF79DA, #9356DC) 1px 1px 10px;
  font-size: 100px;
}

.booking {
  background-color: #f6f6f6;
  height: 288px;
  font-family: 'Roboto';
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@media screen and (min-width: map-get($breakpoints, inter))
    {
        justify-content: center;
    }*/
}

.booking__title {
  margin: 0;
  font-size: 24px;
  padding: 40px 45px 12px 45px;
  font-weight: 800;
}

.booking__subtitle {
  font-size: 18px;
  margin: 1px 25px 0px 35px;
  color: gray;
  font-weight: 300;
  text-shadow: 0 0 0 #7e7d7d;
}

.booking .button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ae80e5), to(#fface8));
  background: linear-gradient(to bottom right, #ae80e5, #fface8);
  -webkit-box-shadow: 0 7px 15px #7e7d7d;
          box-shadow: 0 7px 15px #7e7d7d;
}

.functions {
  margin: 30px 0 40px 0;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .functions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.functions__title {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 800;
  margin: 15px 15px 28px 20px;
}

.functions__menu {
  list-style: none;
  counter-reset: li;
  font-family: 'Roboto';
  padding: 1px;
  margin: 0 15px 0 30px;
}

@media screen and (min-width: 768px) {
  .functions__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.functions__menu li {
  background-color: #f6f6f6;
  width: 325px;
  height: 75px;
  border-radius: 18px;
  -webkit-box-shadow: 0 5px 13px lightgrey;
          box-shadow: 0 5px 13px lightgrey;
  color: #000000;
  font-weight: 700;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .functions__menu li {
    width: 30%;
  }
}

.functions__menu li:hover {
  background-color: #f2eafb;
}

.functions__menu li:hover > i {
  color: #9356DC;
}

.functions__menu li .number {
  margin-left: -13px;
}

.functions__menu li i {
  margin: 0 25px;
  font-size: 20px;
  color: gray;
}

.restaurant {
  font-family: 'Roboto';
  height: auto;
  /*width: 100%;*/
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 20px 45px 20px;
  /*@media  screen and (min-width: map-get($breakpoints, desktop))
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }*/
}

@media screen and (min-width: 576px) {
  .restaurant {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurant h1 {
  width: 100%;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 25px;
}

.restaurant .link {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 992px) {
  .restaurant .restaurant-card {
    width: 230px;
  }
}

@media screen and (min-width: 1400px) {
  .restaurant .restaurant-card {
    width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__heading {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
  }
}

.footer__menu .mailto {
  color: #ffffff;
  text-decoration: none;
}

.body {
  background-color: #f2f2f2;
}

.header {
  position: relative;
  background-color: #ffffff;
}

.header__homepage {
  position: absolute;
  top: 23px;
  left: 15px;
}

.photo-menu {
  height: 260px;
}

@media screen and (min-width: 576px) {
  .photo-menu {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .photo-menu {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  .photo-menu {
    height: 500px;
  }
}

.photo-menu img {
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 576px) {
  .photo-menu img {
    height: 115%;
  }
}

.menu-content {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 35px 35px 0 0;
  background-color: #f2f2f2;
  padding: 35px 15px 25px 15px;
  position: relative;
  top: -30px;
}

.menu-content__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-content__header h1 {
  font-family: 'Shrikhand';
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.menu-content__header .like {
  position: absolute;
  top: 35px;
  right: 30px;
}

.menu-content__header .like .heart {
  position: absolute;
}

.menu-content__content {
  width: 100%;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .menu-content__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-content__content .topic {
  margin-bottom: 45px;
}

@media screen and (min-width: 992px) {
  .menu-content__content .topic {
    width: 32%;
  }
}

.menu-content__content .topic .heading {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  color: #333333;
}

.menu-content__content .topic .border {
  margin-top: -8px;
}

.menu-content__content .topic .choices {
  list-style: none;
  padding: 0;
  -webkit-animation: fade;
          animation: fade;
}

.menu-content__content .topic .choices .detail {
  height: 70px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 15px 20px 10px 10px;
  -webkit-box-shadow: 0 0 20px lightgrey;
          box-shadow: 0 0 20px lightgrey;
  overflow: t;
  /*@media screen and (min-width:map-get($breakpoints, desktop))
                    {
                        height: 80px;
                    }*/
}

.menu-content__content .topic .choices .detail .first {
  margin: 0%;
  font-size: 18px;
}

.menu-content__content .topic .choices .detail .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  font-size: 15px;
}

.menu-content__content .topic .choices .detail .second .topping {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-content__content .topic .choices .detail .second .price {
  margin: 0;
  /*shades dark sur price*/
  font-weight: 800;
}

.menu-content .button {
  margin: 5px 32px 20px 32px;
}

/*.menu-content
{*/
/*@media screen and (min-width: map-get($breakpoints, inter))
        {
            justify-content: center;    
        }
    }
        
        choices
            detail
                width: 355px;
                border: 1px solid $color_white;

                
                .first
                {
                    
                    font-weight: 800;
                    margin: 0 0 5px 0;  
                }
                .second
                {
                    .topping
                    {
                        font-size: 15px;
                        font-weight: 400;
                        margin: 0;
                    }
                    .price
                    {
                        font-weight: 800;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }
    .button
    {
        width: 190px;
        margin: 25px 30px 40px 30px;
    }
}*/
/*# sourceMappingURL=style.css.map */