.footer
{
    background-color: map-get($black_shades, very_light); 
    height: 200px;
    padding: 25px;
    
    &__heading
    {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Shrikhand';
    margin-bottom: 20px;
    }
    &__menu
    {
            padding: 0;
            list-style: none;
            font-family: 'Roboto';
            color: $color_white;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 11px;
            li
            {
                margin-bottom: 10px;
                .proposal
                {
                    margin-right: 10px;
                    font-size: 14px;
                }
                .partner
                {
                    font-size: 12px;
                    margin-right: 8px;
                }

            }
    }
}
