.form
{
    height: 50px;
    background-color: $background_primary;
    box-shadow: inset 0px 3px 4px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    &__marker
    {
        margin-right: 15px;
        font-size: 17px;
        color: lighten($color_black, 25%);
    }
    &__text
    {
        border: none;
        padding-top: 3px;
        width: 140px;
        background-color: transparent;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 600;
    }
    ::placeholder
    {
        color: black;
        color: lighten($color_black, 30%);

    }   
    




}