.header
{
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo
    {
        padding-top: 15px;
        img
        {
            height: 29px;
        }
    }

}
