.button
{
    background: linear-gradient(349deg, rgb(147, 86, 220) 0%, rgb(147, 86, 220) 14%, rgb(255, 121, 218) 92%);
    color: white;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    border: none;
    width: 225px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 1px 5px 5px lightgrey;
    margin: 32px;
    cursor: pointer;
    
}
