.confirm
{
  width: 65px;
  height: 72px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -36px -250px 0 0;
  font-size: 23px;
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  border: 1px solid #99E2D0;
  transition: margin 0.5s;
    .check
  {
    color: $color_white;
    transform: rotate(90deg);
    transition: transform 0.5s;
    transition-delay: 0.2s;
    
  }
}
