
.like
{
    width: 30px;
    height: 25px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    .heart
    {
        color: map-get($black_shades, very_light);
    }
}
/*.heart:hover
{
    background-clip: text;
    -webkit-background-clip: text;
    background: transparent;
    
}*/
/*&:active + .heart
{
}*/