.like
{
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    &:hover .heart
    {
        opacity: 0;
        &--full
        {
            opacity: 1;
            transition: opacity 1s;
        }
    }
    .heart
    {
        color: map-get($black_shades, very_light);
        &--full
        {
            background: $gradient;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            opacity: 0;
        }
       
    }
}
