.section
{
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: $color_black;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 3s both 1.5s loader;
    &__loader
    {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
        position: absolute;  
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    &__loader-circles
    {
        border-radius: 50px;
        border: 3px solid transparent;
        border-top-color: #9356DC; 
        animation: spin 1s linear infinite;
        &:after
        {
            content: '';
            position: absolute;
            top: 5px; 
            left: 5px; 
            bottom: 5px; 
            right: 5px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #FF79DA;  
            animation: spin 5s linear infinite; 
        }
        &:before
        {
            content: '';
            position: absolute;
            top: 12px; 
            left: 12px; 
            bottom: 12px; 
            right: 12px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #99E2D0;  
            animation: spin 10s linear infinite;
        }
    }
}

