.section
{
    background-color: black;
    height: 500px;
    line-height: 500px;opacity: 0.5;
    z-index: 1;
    &__loader
    {
        width: 100px;
        height: 100px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    &__loader-circles
    {
        border-radius: 50px;
        border: 3px solid transparent;
        border-top-color: #9356DC; 
        animation: spin 1s linear infinite;
        &:after
        {
            content: '';
            position: absolute;
            top: 5px; 
            left: 5px; 
            bottom: 5px; 
            right: 5px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #FF79DA;  
            /*opacity: 0.8;*/
            animation: spin 5s linear infinite; 
        }
        &:before
        {
            content: '';
            position: absolute;
            top: 12px; 
            left: 12px; 
            bottom: 12px; 
            right: 12px;
            border-radius: 50px;
            border: 3px solid transparent;
            border-top-color: #99E2D0;  
            /*opacity: 0.5;*/
            animation: spin 10s linear infinite;
        }
    }
    @keyframes spin{
        0%{ transform: rotate(0deg); }
        100%{ transform: rotate(360deg); }
      }
      @keyframes spinreverse{
        0%{ transform: rotate(0deg); }
        100%{ transform: rotate(-360deg); }
      }
}
