.new
{
    border: none;
    background-color: $color_tertiary;
    color: darken($color_tertiary, 40%);
    font-size: 14px;
    font-weight: bold;
    width: 90px;
    height: 30px;
    padding: 8px;
    border-radius: 2px;
}
