*
{
    box-sizing: border-box; /* Opera/IE 8+ */
        -moz-box-sizing: border-box; /* Firefox, autres Gecko */
        -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
        box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > :not(.container-loader) 
{
   font-family: 'Roboto', sans-serif, 'Shrikhand', cursive;
   min-width: 375px;
   max-width: 1400px;
   margin: auto;
    .container-loader
    {
        width: 100%;
    }
}

