*
{
    box-sizing: border-box; /* Opera/IE 8+ */
        -moz-box-sizing: border-box; /* Firefox, autres Gecko */
        -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}
/*Fonts*/
html, body 
{
   font-family: 'Roboto', sans-serif, 'Shrikhand', cursive;
   min-width: 375px;
   max-width: 1400px;
}

