.omf
{
    font-family: 'Shrikhand';
    background-color: $gradient 1px 1px 10px;
    font-size: 100px;
}
.booking
{
    background-color: $background_secondary;
    height: 288px;
    font-family: 'Roboto';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*@media screen and (min-width: map-get($breakpoints, inter))
    {
        justify-content: center;
    }*/
        
    &__title
    {
        margin: 0;
        font-size: 24px;
        padding: 40px 45px 12px 45px;
        font-weight: 800;
    }
    &__subtitle
    {
        font-size: 18px;
        margin: 1px 25px 0px 35px;
        color: map-get($black_shades, medium);
        font-weight: 300;
        text-shadow: 0 0 0 #7e7d7d;
    }
    .button:hover
    {
        background: change_light($color_primary, $color_secondary);
        box-shadow: 0 7px 15px $color_grey;
    }
}

.functions
{
    margin: 30px 0 40px 0;
    height: auto;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: map-get($breakpoints, tablette))
    {
        flex-wrap: wrap;
    }
    &__title
    {
        font-family: 'Roboto';
        font-size: 25px;
        font-weight: 800;
        margin: 15px 15px 28px 20px;
    }
    &__menu
    {
        list-style: none; 
        counter-reset: li;
        font-family: 'Roboto';
        padding: 1px;
        margin: 0 15px 0 30px;
        @media screen and (min-width: map-get($breakpoints, tablette))
        {
            display: flex;
            justify-content: space-between;
        }
        li
        {
            background-color: $background_secondary;
            width: 325px;
            height: 75px;
            border-radius: 18px;
            box-shadow: 0 5px 13px lightgrey;
            color: $color_black;
            font-weight: 700;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            cursor: pointer;
            @media screen and (min-width: map-get($breakpoints, tablette))
            {
                width: 30%;
            }
            &:hover 
            {
                background-color: lighten($color_primary, 35%);
                & > i
                {
                    color: $color_primary;
                }
            }
            .number 
            {
                margin-left: -13px;
            }          
            i
            {
                margin: 0 25px;
                font-size: 20px;
                color: map-get($black_shades, medium);
            }
        }
    }
}
.restaurant
{
    font-family: 'Roboto';
    height: auto;
    /*width: 100%;*/
    background-color: $background_secondary;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px 20px 45px 20px;
    @media screen and (min-width: map-get($breakpoints, inter))
    {
        justify-content: space-between;
    }
    /*@media  screen and (min-width: map-get($breakpoints, desktop))
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }*/
    h1
    {
        width: 100%;
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 25px;
    }
    .link
    {
        text-decoration: none;
        color: black;
    }
    .restaurant-card
    {
        @media screen and (min-width: map-get($breakpoints, desktop))
        {
            width: 230px;
        }
        @media screen and (min-width: map-get($breakpoints, max))
        {
            width: 330px;
        }
    }
}
.footer
{
    @media screen and (min-width: map-get($breakpoints , tablette))
    {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__heading
    {
        @media screen and (min-width: map-get($breakpoints , tablette))
        {
            width: 20%;
        }
    }
    &__menu
    {
        @media screen and (min-width: map-get($breakpoints , tablette))
        {   
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        .mailto
        {
            color: $color_white;
            text-decoration: none;
        }
    }
}