.body
{
    background-color: map-get($black_shades , dark);
}

.header
{
    position: relative;
    background-color: $color_white;
    &__homepage
    {
        position: absolute;
        top: 23px;
        left: 15px
    }
}
.photo-menu
{
    height: 260px;
    @media screen and (min-width: map-get($breakpoints, inter))
    {
        height: 300px;
    }
    @media screen and (min-width: map-get($breakpoints, tablette))
    {
        height: 400px;
    }
    @media screen and (min-width: map-get($breakpoints, desktop))
    {
        height: 500px;
    }
    img
    {
        width: 100%;
        height: 110%;
        object-fit: cover;
        @media screen and (min-width: map-get($breakpoints, inter))
        {
            height: 115%; 
        }
    }
}
.menu-content
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 35px 35px 0 0;
    background-color: map-get($black_shades , dark);
    padding: 35px 15px 25px 15px;
    position: relative;
    top: -30px;
    &__header
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h1
        {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-weight: 500;
            margin: 0;
        }
        .like
        {
            position: absolute;
            top: 35px;
            right: 30px;
            .heart
            {
                position: absolute;
            }
        }
    }
    &__content
    {
        width: 100%;
        margin-top: 20px;
        @media screen and (min-width: map-get($breakpoints, desktop))
        {
            display: flex;
            justify-content: space-between;
        }
        .topic
        {
            margin: 20px 0 50px 0;
            animation: progress 3s forwards;
            opacity: 0;
            &:nth-last-child(1)
            {
            animation-delay: 1s;
            }
            &:nth-last-child(2)
            {
            animation-delay: 0.5s;
            }
            &:nth-last-child(3)
            {
            animation-delay: 0s;
            }  
            @media screen and (min-width:map-get($breakpoints, desktop))
            {
                width: 32%;
            }
            .heading
            {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 400;
                color: map-get($black_shades , very_light);
            }
            .border
            {
                margin: 5px 0 15px 0;
            }
            .choices
            {
                list-style: none; 
                padding: 0;
                transition: progress 4s linear;
                
                .detail
                {
                    height: 70px;
                    width: 100%;
                    background-color: $color_white;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    padding: 15px 20px 10px 10px;
                    box-shadow: 0 0 20px lightgrey;
                    overflow: hidden; /*mise en place de confirm*/
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-between;/**/
                    cursor: pointer;
                    &:hover .second
                    {
                        width: 85%;
                        transition: width 0.5s;
                    }
                    &:hover .confirm
                    {
                        margin-right: -20px;
                    }
                    &:hover .confirm .check
                    {
                        transform: rotate(360deg);
                    }
                }
                    .first
                    {
                        margin: 0%;
                        width: 100%;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .second
                    {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        font-size: 15px;
                        width: 100%;
                        transition: width 0.9s;
                        .topping
                        {
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .price
                        {
                            margin: 0;
                            font-weight: 800;
                        }
                    }
                    .confirm/*essaie*/
                    {
                        font-size: 23px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        border: 1px solid #99E2D0;

                       
                        /*transition: margin, 2s;*/
                        /*.confirm:hover
                        {
                            transition: margin, 2s;
                        }*/
                    }
                }
            }
        }
    .button
    {
        margin: 5px 32px 20px 32px;
    }
}

/*.menu-content
{*/
        /*@media screen and (min-width: map-get($breakpoints, inter))
        {
            justify-content: center;    
        }
    }
        
        choices
            detail
                width: 355px;
                border: 1px solid $color_white;

                
                .first
                {
                    
                    font-weight: 800;
                    margin: 0 0 5px 0;  
                }
                .second
                {
                    .topping
                    {
                        font-size: 15px;
                        font-weight: 400;
                        margin: 0;
                    }
                    .price
                    {
                        font-weight: 800;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }
    .button
    {
        width: 190px;
        margin: 25px 30px 40px 30px;
    }
}*/
