.body
{
    background-color: map-get($black_shades , dark);
}
.header
{
    position: relative;
    background-color: $color_white;
    &__homepage
    {
        position: absolute;
        top: 23px;
        left: 15px
    }
}
.photo-menu
{
    height: 260px;
    @media screen and (min-width: map-get($breakpoints, inter))
    {
        height: 300px;
    }
    @media screen and (min-width: map-get($breakpoints, tablette))
    {
        height: 400px;
    }
    @media screen and (min-width: map-get($breakpoints, desktop))
    {
        height: 500px;
    }
    img
    {
        width: 100%;
        height: 110%;
        object-fit: cover;
        @media screen and (min-width: map-get($breakpoints, inter))
        {
            height: 115%; 
        }
    }
}
.menu-content
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 35px 35px 0 0;
    background-color: map-get($black_shades , dark);
    padding: 35px 15px 25px 15px;
    position: relative;
    top: -30px;
    &__header
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        h1
        {
            font-family: 'Shrikhand';
            font-size: 28px;
            font-weight: 500;
            margin: 0;
        }
        .like
        {
            position: absolute;
            top: 35px;
            right: 30px;
            .heart
            {
                position: absolute;
            }
        }
    }
    &__content
    {
        width: 100%;
        margin-top: 20px;
        .topic
        {
            margin-bottom: 45px;
            .heading
            {
                text-transform: uppercase;
                font-size: 17px;
                font-weight: 400;
                color: map-get($black_shades , very_light);
            }
            .border
            {
                margin-top: -8px;
            }
            .choices
            {
                list-style: none; 
                padding: 0;
                .detail
                {
                    height: 70px;
                    background-color: $color_white;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    padding: 15px 20px 10px 10px;
                    box-shadow: 0 0 20px lightgrey;
                    .first
                    {
                        margin: 0%;
                        font-size: 18px;
                    }
                    .second
                    {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        font-size: 15px;
                        .topping
                        {
                            margin: 0;
                        }
                        .price
                        {
                            margin: 0;/*shades dark sur price*/
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }
    .button
    {
        margin: 5px 32px 20px 32px;
    }
}

/*.menu-content
{*/
        /*@media screen and (min-width: map-get($breakpoints, inter))
        {
            justify-content: center;    
        }
    }
        
        choices
            detail
                width: 355px;
                border: 1px solid $color_white;

                
                .first
                {
                    
                    font-weight: 800;
                    margin: 0 0 5px 0;  
                }
                .second
                {
                    .topping
                    {
                        font-size: 15px;
                        font-weight: 400;
                        margin: 0;
                    }
                    .price
                    {
                        font-weight: 800;
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }
        }
    .button
    {
        width: 190px;
        margin: 25px 30px 40px 30px;
    }
}*/
