@keyframes spin{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
  }
  @keyframes spinreverse{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(-360deg); }
  }

@keyframes loader{
  0%{opacity: 0.9;}
  100%{opacity: 0; z-index: -1;}
}

/*apparition progressive des plats*/
@keyframes progress{
  0%{opacity: 0.1; }
  100%{opacity: 1; }
}
