$color_primary: #9356DC;
$color_secondary: #FF79DA ;
$color_tertiary: #99E2D0;

$background_primary: #eaeaea;
$background_secondary: #f6f6f6;

$color_white: #ffffff;
$color_black: #000000;
$color_grey: #7e7d7d;

$padding_card: 15px;

$breakpoints: (
    mobile: 375px,
    tablette: 750px,
    desktop: 1200px,
);

$black_shades: (
    medium: lighten($color_black, 50%),
    dark: lighten($color_black,20%),
    grey: lighten($color_black, 22%)

)