$color_primary: #9356DC;
$color_secondary: #FF79DA ;
$color_tertiary: #99E2D0;

$background_primary: #eaeaea;
$background_secondary: #f6f6f6;
$gradient: linear-gradient(to bottom right, $color_secondary, $color_primary);
/*linear-gradient(349deg, rgb(147, 86, 220) 0%, rgb(147, 86, 220) 14%, rgb(255, 121, 218) 92%);*/

$color_white: #ffffff;
$color_black: #000000;
$color_grey: #7e7d7d;

$padding_card: 15px;

$breakpoints: (
    inter: 576px,
    tablette: 768px,
    desktop: 992px,
    max: 1400px,
);

$black_shades: (
    very_light: lighten($color_black, 20%),
    light: lighten($color_black, 35%),
    medium: lighten($color_black, 50%),
    dark: lighten($color_black, 95%),
);
